.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 280px;
    border-radius: 20%;
    border: 0.5rem solid;
    border-color: rgb(251, 222, 4);
    background-color: #f8fc04;
    -webkit-box-shadow: 4px 4px 44px -4px rgba(0,0,0,0.59);
    -moz-box-shadow: 4px 4px 44px -4px rgba(0,0,0,0.59);
    box-shadow: 4px 4px 44px -4px rgba(0,0,0,0.59);
    transition: all ease-in-out .4s;
}
.img{
    height: 250px;
    width: 250px;
    margin-top: 30px;
}
.card:hover{
    Transform:scale(0.9);
    background-color: rgb(158, 158, 158);
    -webkit-box-shadow: 0px 10px 88px 18px rgba(249, 213, 7, 0.76);
    -moz-box-shadow: 0px 10px 88px 18px rgba(249, 213, 7, 0.76);
    box-shadow: 0px 10px 88px 18px rgba(249, 213, 7, 0.76);
}
.h3{
    color: rgb(6, 6, 6);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.h5{
    color: rgb(7, 7, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}