.div{
    height:100vh;
    background-image: url("https://media.tenor.com/T7TK5_jVeMoAAAAd/pokeball.gif");
    background-repeat: no-repeat;
    padding: 1.5rem;
    display:block;
    justify-content: center;
    background-size: cover; 
}

.font{
    height: 15rem;
    color: rgb(244, 11, 11);
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    background-color:transparent;
}
.button {
    height: 150px;
    width: 25rem;
    text-align: center;
    border-radius: 10rem;
    font-size: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgb(241, 26, 26);
    
}

.button:hover {
    background-color: #e9d208; /* Green */
    color: rgb(247, 242, 242);
    box-shadow: 0 12px 16px 0 rgba(245, 4, 4, 0.24), 0 17px 50px 0 rgba(247, 5, 5, 0.19);
    
}
